<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Ambient Coffee</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <script type="module" src="{{ url_for('static', filename='js/example.js') }}"></script>
</body>
</html>